* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(white, #f6f6f6, white);
    font-family: 'Open Sans', sans-serif;
}

/* Headings */

h1 {
    font-family: 'Julius Sans One', sans-serif;
}

h2 {
    font-weight: 700;
    color: #494948;
}

h4 {
    font-weight: 700;
    color: #494948;
}


p {
    line-height: 1.5rem;

}

/*--------------------------- Navigation --------------------------------*/
/*--------------------------- Navigation --------------------------------*/
/*--------------------------- Navigation --------------------------------*/

/* logo */
header img {
    display: block;
    margin: 0 auto;
    width: 18em;
}

/* naviagion */
nav {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: .8rem;
    margin: 0 0 2rem 0;

}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

li {
    padding: 1rem 2rem 1rem 2rem;
    list-style: none;
    border-bottom: 1px solid white;
}

ul li a {
    transition: all .5s ease-in-out;
    text-decoration: none;
    color: #494948;
}

ul li a:hover,
ul li a:focus {
    color: #FF0073;
    outline: none;
}

a {
    text-decoration: none;
    color: #494948;
}

.filterButton {
    padding: .5rem 2rem;
    background-color: #FF0073;
    border-radius: .5rem;
    color: white;
    margin: 2rem 0 0 0;
    transition: all .5s ease;

}

.filterButton:hover {
    color: white;
    box-shadow: 10px 10px 30px #a7a7a7,
        -10px -10px 30px #e1e1e1;
}

.registerButton {
    padding: .5rem 2rem;
    background-color: #32DCB4;
    border-radius: .5rem;
    color: white;
    margin: 2rem 0 0 0;
    transition: all .5s ease;

}

.registerButton:hover {
    color: white;
    box-shadow: 10px 10px 30px #a7a7a7,
        -10px -10px 30px #e1e1e1;
}

/*--------------------------- Login User --------------------------------*/
/*--------------------------- Login User --------------------------------*/
/*--------------------------- Login User --------------------------------*/
.loginUser {
    background-color: #FF0073;
    width: 100vw;
    padding-bottom: 1rem;
}

.loginUser legend {
    padding-top: 2rem;
}

.loginUser div {
    margin: 0 auto;
    width: 60vw;
}

form input[type=list] {
    -webkit-appearance: none;
    padding: 1rem;
    border-width: .1rem;
    border-style: solid;
    border-color: white;
    border-radius: .5rem;
    width: 100%;
    margin: .5rem 0 1rem 0;
}

.loginUser form input[type=submit] {
    display: block;
    margin: 2rem 0 2rem 0;
    padding: 1rem;
    border-radius: .5rem;
    -webkit-appearance: none;
    border: 0 solid white;
    background: #FF0073;
    box-shadow: 10px 10px 28px #a6004b,
        -10px -10px 28px #ff009b;
    color: white;
    width: 8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    transition: all 1s ease;

}

.loginUserSubmit {
    position: absolute;
    z-index: -1;
}

.loginUser article {
    margin: 0 0 5rem 0;
}

.loginUser article h2 {
    color: white;
}

.loginUser article a {
    display: block;
    text-align: center;
    margin: 2rem 0 2rem 0;
    padding: 1rem;
    border-radius: .5rem;
    border: 0 solid white;
    background: #FF0073;
    box-shadow: 10px 10px 28px #a6004b,
        -10px -10px 28px #ff009b;
    color: white;
    width: 12rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    transition: all 1s ease;
}


/*--------------------------- Filter function --------------------------------*/
/*--------------------------- Filter function --------------------------------*/
/*--------------------------- Filter function --------------------------------*/

.filter {
    background-color: #FF0073;
}

.filterContainer {
    width: 85vw;
    margin: 0 auto;
    padding: 2rem 0 0rem 0;
}

fieldset {
    border: none;
}

fieldset:first-of-type {
    margin-bottom: 3rem;
}

legend {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.5rem;
    color: white;
    margin: 1rem auto;

}

form fieldset label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
    margin: 1rem 0 0 0;
}

form input[type=text] {
    padding: 1rem;
    border-width: .1rem;
    border-style: solid;
    border-color: white;
    border-radius: .5rem;
    width: 80vw;
    margin: .5rem 0 1rem 0;
}


/* Gender buttons */


.filter .filterContainer article form fieldset:nth-child(2) div {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter .filterContainer article form fieldset:nth-child(2) div div label span {
    text-align: center;
    padding: 1rem;
    display: block;
    border-radius: .5rem;
    color: white;
    width: 8rem;
    margin: 0 1rem 2rem 0;
    background: #FF0073;
    box-shadow: 10px 10px 28px #a6004b,
        -10px -10px 28px #ff009b;
    font-weight: 400;
}


.filter .filterContainer article form fieldset:nth-child(2) div div label span i {
    margin-right: .5rem;
}

.filter form div div label {
    cursor: pointer;
}



section form div div input[type=checkbox] {
    position: absolute;
    z-index: -1;
}


.filter form fieldset:nth-child(2) div div input[type=checkbox]:checked+label span {
    background: #FF0073;
    box-shadow: inset 10px 10px 28px #a6004b,
        inset -10px -10px 28px #ff009b;
}

.filter form input[type=submit] {
    display: block;
    margin: 2rem 0 2rem 0;
    padding: 1rem;
    border-radius: .5rem;
    -webkit-appearance: none;
    border: 0 solid white;
    background: #FF0073;
    box-shadow: 10px 10px 28px #a6004b,
        -10px -10px 28px #ff009b;
    color: white;
    width: 8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    transition: all 1s ease;

}



.search {
    position: absolute;
    z-index: -1;
}

/*--------------------------- Register --------------------------------*/
/*--------------------------- Register --------------------------------*/
/*--------------------------- Register --------------------------------*/
.register {
    background-color: #FF0073;
}

.register div:first-of-type {
    width: 85vw;
    margin: 0 auto;
    padding: 2rem 0 0 0;
}

form input[type=number] {
    padding: 1rem;
    border-width: .1rem;
    border-style: solid;
    border-color: white;
    border-radius: .5rem;
    width: 80vw;
    margin: .5rem 0 1rem 0;
}

form textarea {
    padding: 1rem;
    border-width: .1rem;
    border-style: solid;
    border-color: white;
    border-radius: .5rem;
    width: 80vw;
    margin: .5rem 0 1rem 0;
}

.register form input[type=submit] {
    display: block;
    margin: 2rem 0 2rem 0;
    padding: 1rem;
    border-radius: .5rem;
    -webkit-appearance: none;
    border: 0 solid white;
    background: #FF0073;
    box-shadow: 10px 10px 28px #a6004b,
        -10px -10px 28px #ff009b;
    color: white;
    width: 8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    transition: all 1s ease;

}

.registerUser {
    position: absolute;
    z-index: -1;
}

form input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.pictureLabel {
    margin: 2rem 0 3rem 0;
    padding: 1rem;
    border: 0 solid white;
    width: 50%;
    border-radius: .5rem;
    background: #FF0073;
    box-shadow: 10px 10px 28px #a6004b,
        -10px -10px 28px #ff009b;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
    cursor: pointer;

}

.pictureLabel:hover {
    background: #FF0073;
    box-shadow: inset 10px 10px 28px #a6004b,
        inset -10px -10px 28px #ff009b;

}



/*--------------------------- Introduction --------------------------------*/
/*--------------------------- Introduction --------------------------------*/
/*--------------------------- Introduction --------------------------------*/

.introduction {
    background-color: #0099D1;

}

.introduction article p,
.boardGames article p,
.comics article p {
    color: white;
    margin-bottom: 2rem;
}


.introduction h2,
.boardGames h2,
.comics h2 {
    color: white;
}

.introduction div,
.boardGames div,
.comics div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 2rem auto 4rem auto;
    width: 80vw;
    /* background-color:yellow; */
}


.introduction img,
.boardGames img,
.comics img {
    width: 60vw;
    margin: 2rem 0 0 0;
    border-radius: .5rem;
}

.introduction article,
.boardGames article,
.comics article {
    margin: 2rem;
    width: 80vw;
}

.introduction article h2,
.boardGames article h2,
.comics article h2 {
    margin: 1rem 0 1rem 0;
}


/*--------------------------- boardGames --------------------------------*/

.boardGames {
    background-color: #32DCB4;

}

.comics {
    background-color: #32DCB4;
}

/*--------------------------- Card profiles --------------------------------*/
/*--------------------------- Card profiles --------------------------------*/
/*--------------------------- Card profiles --------------------------------*/
.category-fit,
.category-boardgames,
.categoryComics {
    width: 100vw;
    margin: 0 auto;
}

.category-fit h2,
.category-boardgames h2,
.categoryComics h2 {
    margin: 1em 12.5vw 0 12.5vw;
}

.category-fit div,
.category-boardgames div,
.categoryComics div {
    /* display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; */
    overflow: auto;
    white-space: nowrap;
    /* margin: 0 2em 0 0 ; */
}

.category-fit img,
.category-boardgames img,
.categoryComics img {
    border-radius: .9em .9em 0em 0em;
    width: 12em;
}

.category-fit div article,
.category-boardgames div article,
.categoryComics div article {
    width: 12em;
    margin: 2em 10vw 4em 12.5vw;
    border-radius: 1em;
    background: #32DCB4;
    box-shadow: 10px 10px 30px #a7a7a7,
        -10px -10px 30px #e1e1e1;
    display: inline-block;
    transition: transform .3s ease-in-out;
    transition: background-color .3s ease-in-out;

}

.category-fit div article {
    background-color: #0099D1;
}


.category-fit div article h4,
.category-boardgames div article h4,
.categoryComics div article h4 {
    width: 12rem;
    padding: .5em 1em 0em 1em;
    color: white;
    display: block;
    white-space: normal;
    word-wrap: break-word;

    /* Resourche whitespace and wordwrap
    https://developer.mozilla.org/en-US/docs/Web/CSS/white-space */

}

.category-fit div article p,
.category-boardgames div article p,
.categoryComics div article p {
    width: 12em;
    padding: 0em 1em .5em 1em;
    color: white;
    white-space: normal;
    word-wrap: break-word;
}

/*--------------------------- Profile page --------------------------------*/
/*--------------------------- Profile page --------------------------------*/
/*--------------------------- Profile page --------------------------------*/
.profilePage {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.profilePage h1 {
    margin: 2rem 0;
    font-size: 2rem;
}

.profilePage article:first-of-type {
    /* width: 40%; */
    margin: 0 auto;
}

.profilePage article:first-of-type img {
    width: 15rem;
    border-radius: 1rem;
}

.personalInformation {
    margin: 0 auto;
}

dl {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: .5rem;
}

.personalInformation dt {
    font-weight: 700;
}

.personalInformation dd:last-child {
    margin-bottom: 2rem;
}

.personalInformation dt,
.personalInformation dd {
    padding: .3rem 0em;
}

/*---------------------------  footer --------------------------------*/
/*---------------------------  footer --------------------------------*/
/*---------------------------  footer --------------------------------*/



footer {
    background-color: #FF0073;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    font-size: .75em;
    margin: 0;
    padding: 3em;
    text-align: center;
}



/*--------------------------- break points--------------------------------*/
/*--------------------------- break points --------------------------------*/
/*--------------------------- break points --------------------------------*/

/* Responsive 800px START*/
@media all and (min-width: 800px) {

    /*--------------------------- Navigation --------------------------------*/


    ul {
        flex-direction: row;
        flex-wrap: wrap;

    }

    li {
        border-bottom: 0px solid white;
    }

    /*--------------------------- Log in user --------------------------------*/


    .loginUser form input[type=submit]:hover {
        background: #FF0073;
        box-shadow: inset 10px 10px 28px #a6004b,
            inset -10px -10px 28px #ff009b;
    }

    .loginUser {
        background-color: #FF0073;
        width: 30vw;
        border-radius: 1rem;
        box-shadow: 10px 10px 30px #a7a7a7,
            -10px -10px 30px #e1e1e1;
        margin: 4rem auto;
    }

    .loginUser legend {
        padding: 2rem;
    }

    .loginUser div {
        margin: 0 auto;
        width: 25vw;
    }


    /*--------------------------- Filter function --------------------------------*/

    .filterContainer {
        width: 40vw;
        margin: 0 auto;

    }

    form input[type=text] {
        width: 100%;
    }

    .filter .filterContainer article form fieldset:nth-child(2) div div label span {
        transition: all 1s ease;
    }

    .filter .filterContainer article form fieldset:nth-child(2) div div:hover label span {
        background: #FF0073;
        box-shadow: inset 10px 10px 28px #a6004b,
            inset -10px -10px 28px #ff009b;
        transform: translate(0px, -.2rem);
    }

    .filter form input[type=submit]:hover {
        background: #FF0073;
        box-shadow: inset 10px 10px 28px #a6004b,
            inset -10px -10px 28px #ff009b;
    }

    /*--------------------------- Register --------------------------------*/

    .register div:first-of-type {
        width: 40vw;
        margin: 0 auto;

    }

    form input[type=number] {
        width: 100%;
    }

    form textarea {
        width: 100%;
    }

    .register form input[type=submit]:hover {
        background: #FF0073;
        box-shadow: inset 10px 10px 28px #a6004b,
            inset -10px -10px 28px #ff009b;
    }

    .loginUser article a:hover {
        background: #FF0073;
        box-shadow: inset 10px 10px 28px #a6004b,
            inset -10px -10px 28px #ff009b;
    }

    /*--------------------------- Introduction --------------------------------*/
    .introduction div,
    .boardGames div,
    .comics div {
        width: 80vw;
        justify-content: center;
        align-items: flex-start;
    }

    .introduction img,
    .boardGames img,
    .comics img {
        width: 20vw;
        margin: 4rem 2rem 2rem 0;
    }

    .introduction article,
    .boardGames article,
    .comics article {
        width: 50vw;
    }

    /*--------------------------- profile cards--------------------------------*/


    .category-fit,
    .category-boardgames,
    .categoryComics {
        width: 60vw;
        margin: 0 auto;
    }

    .category-fit div,
    .category-boardgames div,
    .categoryComics div {
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: visible;

    }

    .category-fit div article,
    .category-boardgames div article,
    .categoryComics div article {
        margin: 2em 1em 2em 1em;

    }

    .category-fit h2,
    .category-boardgames h2,
    .categoryComics h2 {
        margin: 1em 1em 0 1em;
    }

    .category-fit div article:hover,
    .category-boardgames div article:hover,
    .categoryComics div article:hover {
        background: #FF0073;
        box-shadow: 10px 10px 30px #d9d9d9,
            -10px -10px 30px #ffffff;
        transform: translate(0px, -.3rem);
    }

    /*--------------------------- profile cards--------------------------------*/

    .profilePage {
        width: 80vw;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .profilePage article:first-of-type {
        width: 40%;
        margin: 2rem auto;
    }

    .personalInformation {
        width: 60%;
        margin: 2rem auto;
    }

    dl {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .5rem;
    }

    .personalInformation dt,
    .personalInformation dd {
        padding: .3em 0em;
    }

}

/* Responsive 1200px START*/
@media all and (min-width: 1200px) {

    .introduction div,
    .boardGames div,
    .comics div {
        width: 60vw;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .introduction img,
    .boardGames img,
    .comics img {
        width: 20vw;
        margin: 4rem 2rem 2rem 0;
    }

    .introduction article,
    .boardGames article,
    .comics article {
        width: 30vw;
    }



}