<section class="register">
    <div>
        <form action=/<%= data.profileId %> method="post">
            <fieldset>
                <!-- <legend>Add more interests to your profile!</legend> -->
                <label for="interests">Which interests would you like to add?</label>
                <textarea name="addInterests" id="addInterests"
                    placeholder="Mountainbike, Movies, Swimming, Gaming, Board games."></textarea>

                <input type="submit" value="Add" id="addSomeInterests">
                <label for="addSomeInterests"><span class="registerUser">Add</span></label>
            </fieldset>
        </form>
    </div>
</section>