      <!--       FILTER OPTION         -->
      <section class="filter">
        <div class="filterContainer">
            <!-- <button id="filterButton">Open filter options</button> -->
            <article>
                <form action="" method="">
                    <fieldset>
                        <legend>Search</legend>

                        <label for="specificInterest1">What activities are you looking for?</label>
                        <input type="text" id="specificInterest1" name="specificInterest1"
                            placeholder="Sports, Games, Movies etc..">
                    </fieldset>

                    <fieldset>
                        <legend>Filters</legend>
                        <label for="ageIndication">What is the age indication?</label>
                        <input type="text" id="ageIndication" name="ageIndication"
                            placeholder="for example: (18 - 30 years)">
                        <div>
                            <div>
                                <input type="checkbox" id="man" name="gender" value="man">
                                <label for="man"><span class="genderHover"><i class="fas fa-male"></i>Male</span>
                                </label>
                                <!-- Font Awesome. (z.d.). Male [Illustratie]. Geraadpleegd van https://fontawesome.com/icons/male?style=solid -->
                            </div>
                            <div>
                                <input type="checkbox" id="woman" name="gender" value="woman">
                                <label for="woman"><span class="genderHover"><i class="fas fa-female"></i>Female</span></label>
                                 <!-- Font Awesome. (z.d.-a). Female [Illustratie]. Geraadpleegd van https://fontawesome.com/icons/female?style=solid -->
                            </div>
                        </div>
                        <label for="locationIndication">In which area?</label>
                        <input type="text" id="locationIndication" name="locationIndication"
                            placeholder="for example: 'Noord-Holland'">

                        <input type="submit" value="search" id="search">
                        <label for="search"><span class="search">Search</label>
                    </fieldset>
                </form>
            </article>
        </div>
    </section>