<!--       FILTER OPTION         -->
<section class="filter">
    <div class="filterContainer">
        <!-- <button id="filterButton">Open filter options</button> -->
        <article>
            <form action=/search method="post">
                <fieldset>
                    <legend>Search</legend>
                    <label for="activity">What activities are you looking for?</label>
                    <input type="text" id="activity" name="activity" placeholder="Sports, Games, Movies etc..">
                    <input type="submit" value="search" id="search">
                    <label for="search"><span class="search">Search</span></label>
                </fieldset>

            </form>
        </article>
    </div>
</section>