<header>
    <img src="images/Friendship_logo-full-RGB-large.png" alt="Logo Friendship">

    <nav>
        <ul>
            <li><a href="/">
                    Home
                </a></li>
            <li><a href="/nathan">
                    My profile</div>
                </a></li>
            <li><a href="matches.html">
                    Matches</div>
                </a></li>
            <li><a href="about.html">
                    About Friendship
                </a></li>
            <li><a href="/search" class="filterButton">
                    Search
                </a></li>
            <% if (user) { %>
            <li><a href="/logout" class="registerButton">
                    Log out
                </a></li>
            <% } else { %>
            <li><a href="/login" class="registerButton">
                    Log in
                </a></li>
            <% } %>



        </ul>
    </nav>

</header>