<header>
    <img src="images/Friendship_logo-full-RGB-large.png" alt="Logo Friendship">

    <nav>
        <ul>
            <li><a href="/">
                    Home
                </a></li>
            <li><a href="/nathan1990">
                    My profile</div>
                </a></li>
            <li><a href="matches.html">
                    Matches</div>
                </a></li>
            <li><a href="about.html">
                    About Friendship
                </a></li>
            <li><a href="/search" class="filterButton">
                    Search
                </a></li>
            <li><a href="/register" class="registerButton">
                    Register
                </a></li>

        </ul>
    </nav>

</header>