<header>
    <img src="images/Friendship_logo-full-RGB-large.png" alt="Logo Friendship">

    <nav>
        <ul>
            <li><a href="/">
                    Home
                </a></li>
            <li><a href="profile.html">
                    My profile</div>
                </a></li>
            <li><a href="/search">
                    Search</div>
                </a></li>
            <li><a href="matches.html">
                    Matches</div>
                </a></li>
            <li><a href="/register">
                    Register
                </a></li>
            <li><a href="about.html">
                    About Friendship
                </a></li>
            <li><a href="/search" class="filterButton">
                    Filter
                </a></li>

        </ul>
    </nav>

</header>