<section class="introduction">
    <div>
        <img src="images/match.png" alt="Matching two profiles">
        <article>
            <h2>Hello <%= user.firstname %> !</h2>
            <p>I have compiled some interesting profiles for you to look at below.
                These people have a close match with the same interests as you!
                Take a look, connect and meet up! Thats what friendship is all about.
            </p>
        </article>

    </div>

</section>