<section class="introduction">
    <div>
        <img src="images/match.png" alt="Matching two profiles">
        <article>
            <h2>Introduction</h2>
            <p>Friendship is a dating
                service, not meant for romantic relationships but for friendships.
                Do you feel alone sometimes and would you like to get in touch with people that have the same
                ineterests as you?
                Then Friendship is here to help! With friendship you’ll create a profile with your interests,
                for example, going to the gym, playing board games, or videogames, or gardening.
                After you have created your profile, you’ll be able to search other profiles for specific
                interests.
                Let’s say you would like to play a board game, in the filter function you will let our database
                know
                to filter out people that are also interested in board games.
                When you find some suitable matches based on age, location, you can get in contact with other
                “board gamers” and see if they’re up for a game.</p>
        </article>

    </div>

</section>