<section class="no-result">
    <article>
        <h2>There are no users that like <%= activity %></h2>
        <img src="images/no-result.jpg" alt="no results">
    </article>
</section>

<!-- Freepik. (n.d.-c). set young people emotions [illustratie]. 
    Retrieved from https://www.freepik.com/free-vector/set-young-people-emotions_5351910.htm#page=1&query=sad&position=14 -->