<section class="comics">
    <div>
        <img src="images/comics.jpg" alt="Monopoly board game - Starting point">
        <!-- meijii. (2018). Anime comics cosplay kostuum [Foto]. 
        Geraadpleegd van https://www.pexels.com/nl-nl/foto/anime-comics-cosplay-kostuum-1340913/ -->
        <article>
            <h2>Comics</h2>
            <p>Lots of people read comics. It is a great way to have fun and socialize in the meanwhile. 
                would you like endless debates over which super hero is the strongest? Or which super power 
                would suit you? Then check out these profiles, and you might just end up with Captain America in a room!
            </p>
        </article>

    </div>

</section>



<section class="categoryComics">
    <h2>These people like comics!</h2>
    <div>
        <!--       Category    Comics      -->
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan2.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan2.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan2.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan2.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
    </div>

</section>