<section class="category-fit">
    <!-- <a href="search.html" class="filterButton">Filter</a> -->
    <h2>These people have equal interests</h2>
    <div>
        <!--       Category 1   same interests        -->
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan2.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan2.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan2.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan2.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan2.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan2.JPG" alt="Profile photo Nathan">
                <h4>Nathan • 29</h4>
                <p>Alkmaar</p>
            </a>
        </article>
    </div>

</section>