<section class="category-fit">
    <h2><%= data.length %> results</h2> 
    <!-- this is data that is defined in the index.js data structure -->
    <div>
        <!--       Category 1   Results        -->
        <% for (let i = 0; i < data.length; i++) { %>
        <article>
            <a href="profile-nathan.html">
                <img src="images/nathan.JPG" alt="Profile photo Nathan">
                <h4>
                    <%= data[i].profileId %> • <%= data[i].age %>
                </h4>
                <p>
                    <%= data[i].location %>
                </p>
            </a>
        </article>
        <% } %>
    </div>

</section>