<%- include('includes/head.ejs'); %>

<body>
    <header>

    </header>
    <main>
        <%- include('includes/login-user.ejs'); %>
    </main>
    <footer>

    </footer>
    <%- include('includes/scripts.ejs'); %>
</body>