<%- include('includes/head.ejs'); %>

<body>
    <%- include('includes/header.ejs'); %>
    <main>
        <section class="register">
            <div>
                <form action=/ method=post enctype="multipart/form-data">
                    <fieldset>
                        <legend>Register</legend>
                        <label for="profileId">What is your username?</label>
                        <input type="text" id="profileId" name="profileId" placeholder="JonhDoe1987">
                        <label for="firstname">What is your first name?</label>
                        <input type="text" id="firstname" name="firstname" placeholder="John">
                        <label for="lastname">What is your last name?</label>
                        <input type="text" id="lastname" name="lastname" placeholder="Doe">
                        <label for="age">What is your age?</label>
                        <input type="number" id="age" name="age" placeholder="25">
                        <label for="location">Where do you live?</label>
                        <input type="text" id="location" name="location" placeholder="Amsterdam">
                        <label for="interests">What are your interests?</label>
                        <textarea name="interests" id="interests"
                            placeholder="Mountainbike, Movies, Swimming, Gaming, Board games."></textarea>
                        <label for="description">Tell us about yourself</label>
                        <textarea name="description" id="description" placeholder="What makes you special?"></textarea>
                        <label for="profilePicture" class="pictureLabel">Upload your photo!</label>
                        <input type="file" name="profilePicture" id="profilePicture" accept="image/*">

                        <input type="submit" value="Register" id="userRegister">
                        <label for="userRegister"><span class="registerUser">Register</span></label>

                    </fieldset>
                </form>
            </div>
        </section>
    </main>
    <%- include('includes/footer.ejs'); %>
    <%- include('includes/scripts.ejs'); %>
</body>